# Coleções
Jupyter Notebook: **ipynb**

- Lista
    - *Métodos da Lista*
    - *Iteração*
        - *List comprehension*

- Dicionários
    - *Atribuição de novos valores*
    - *Métodos do Dicionário*

- SET (**conjuntos**)
    - *Métodos do Dicionário*
    - *Iteração*

In [31]:
alunos = ["joao", "maria", "alberto"]
print(alunos)
print(type(alunos))

['joao', 'maria', 'alberto']
<class 'list'>

### Métodos da lista

In [32]:
len(alunos)

3

In [33]:
sorted(alunos) #apenas mostra a lista ordenada

['alberto', 'joao', 'maria']

In [34]:
alunos.append("jonas")
alunos = sorted(alunos) #para salvar na lista a ordenação

In [35]:
alunos.pop(1) #remove o ultimo item da lista caso não seja informado o índice
alunos

['alberto', 'jonas', 'maria']

In [36]:
print(alunos)

['alberto', 'jonas', 'maria']

### Iteração

In [42]:
for a in alunos:
    print(a.capitalize())

Alberto
Jonas
Maria

In [43]:
[a.upper() for a in alunos] #list comprehension

['ALBERTO', 'JONAS', 'MARIA']

In [44]:
lista = [a.upper() for a in alunos]
print(lista)
print(alunos)

['ALBERTO', 'JONAS', 'MARIA']
['alberto', 'jonas', 'maria']

## Dicionários

In [50]:
conceitos = {"maria": "A",
             "joao": "A+",
             "alberto": "C"}
print(type(conceitos))
print(conceitos)

<class 'dict'>
{'maria': 'A', 'joao': 'A+', 'alberto': 'C'}

### Atribuição de novos valores

In [54]:
conceitos["alberto"] = "A"
conceitos

{'maria': 'A', 'joao': 'A+', 'alberto': 'A'}

In [64]:
conceitos["laura"] = "D"
conceitos

{'A': ['maria', 'joao'], 'B': ['laura', 'alberto'], 'laura': 'D'}

In [58]:
# dicionário chave (str) valor (lista)

conceitos = {
    "A": ["maria", "joao"],
    "B": ["laura", "alberto"]
}

['laura', 'alberto']

### Métodos do Dicionário

In [52]:
conceitos.get("D", [])

'C'

### Iteração

In [60]:
for c in conceitos:
    print(c)

A
B

In [61]:
for k, v in conceitos.items():
    print(k, v)

A ['maria', 'joao']
B ['laura', 'alberto']

In [62]:
len(conceitos)

2

### SET

In [65]:
# set não permite itens duplicado
alunos = set(["joao", "maria", "jose", "maria"])
print(type(alunos))
alunos

<class 'set'>

{'joao', 'jose', 'maria'}

In [4]:
alunos = {"joao", "maria", "jose", "maria"}
alunos

{'joao', 'jose', 'maria'}

### Métodos do set

In [5]:
len(alunos)

3

### Iteração

In [6]:
for a in alunos:
    print(a.capitalize())

Joao
Maria
Jose